@font-face {
    font-family: 'BloodyFont';
    src: url('https://github.com/bloodofsniper/bloodofsniper.github.io/blob/master/Bloody.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}